{% extends "base.html" %}

{% block styles %}
    <style type="text/css">
        form {
            width: 20%;
            min-width: 350px;
            text-align: right;
        }
        span {
            position: absolute;
            text-align: left;
            color: red;
        }
    </style>
{% endblock %}

{% block content %}

<body>
    <h1>Login</h1>
    <form method="post">
        <label>Username
            <input name="username" type="text" value="{{form_data['user_username']}}">
        </label>
        <span>{{form_data['username_error']}}</span>
        <br>
        <label>Password
            <input name="password" type="password">
        </label>
        <span>{{form_data['password_error']}}</span>
        <br>
        <input type="submit">
    </form>
</body>
</html>

{% endblock %}